body {
  background-color: rgb(0,0,128);
}

.App {
  text-align: center;
  color: #7E718E;
  /* background-color: rgb(0,0,128); */
  height: 100vh;
  font-size: larger;
}

.navbar-custom {
  background-color: rgb(0,0,128);
}

/* header */

.header-container {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: space-evenly;
}

.header-item-text {
  width: 60%;
  padding-left: 50px;
  padding-top: 40px;
  text-align: justify;
  text-justify: inter-word;
}

.header-item-image {
  width: 20%;
  flex-grow: 1;
}

.header-penguin {
  border-radius: 50%;
  width: 170px;
  height: 200px;
  border: 3px solid;
}

/* small logos */

.logo-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo-image {
  flex: 1;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
}

/* Projects */

/* .project-container {
  
} */

.project-item {
  margin: auto;
  width: 10%;
  padding-top: 1em;
  padding-bottom: 5em;
}